.product {
    margin: 20px 0;
  }
  .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }
  .jumbotron{
    height: auto;
  }
  .banner_bg_main {
  width: 100%;
  float: left;
  background-image: url("../images/banner-bg.png");
  height: 800px;
  background-size: 100%;
  background-repeat: no-repeat;

}
  .header_section {
  width: 100%;
  display: flex;
}
.top-nav{
    width: 100%;
  float: left;
  background-color: #2b2a29;
  clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
  height: auto;
  padding: 1px 0px;
}
.custom_menu li {
  float: left;
  font-size: 20px;
  font: bold;
  color: white;
  padding: 3px 20px 3px 20px;
}
.logo_section {
  width: 100%;
  float: left;
}
.logo {
  width: 100%;
  float: left;
  text-align: center;
  padding: 30px 0px;
}
.container{
width: 100%;
}
/*nav*/



  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .5s;
    position: 20px;
    
  }
  .btn{
    background-color: black;
    color: white;
    margin-top: 50px;
  }
  .justify-items-center{
    justify-content: center;
    color: white;
    font: bold;
    
    margin-top: 80px;
  }

  .product-img {
    transition: transform 0.3s ease;
   
}

.product-img:hover {
    transform: scale(1.05);
}
.card-img-top{
        width: 220px;
        height: 250px;
        align-items: center;
      }

.rating {
    color: gold;
}

.filter-btn {
    margin: 0 5px;
}



/*product view*/
.quantity-input {
    width: 100px;
}

.review {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.review p {
    margin: 0;
}

.fluid{
  width: 300px;
}


/*product view end*/


/*Addcatrt*/
.summm{
  margin-top: 200px;
}


/*Addcart end*/


/*invoice start*/
body {
            background-color: #bcb0e8;
        }
        .invoice-container {
            padding: 30px;
            margin-top: 50px;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            background-color: #ffffff;
        }
        .invoice-header {
            margin-bottom: 20px;
        }
        .invoice-header h2 {
            color: #333;
        }
        .table-bordered {
            margin-bottom: 0;
        }
        .button{
          width: 100%;
         
          text-align: center;
        }
/*invoice end*/